In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
from matplotlib.ticker import ScalarFormatter

In [9]:
import geopandas as gpd
dbf_file = gpd.read_file("/Users/ishaarora/Desktop/2022-04-01_performance_mobile_tiles/gps_mobile_tiles.dbf")

In [10]:
dbf_file

,quadkey,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,devices,geometry
0,0322321121212131,26208,16375,29,191,99,"POLYGON ((-74.05334 4.68593, -74.04785 4.68593..."
1,0231131002110331,118681,21498,55,7,1,"POLYGON ((-92.51038 36.28856, -92.50488 36.288..."
2,1231211312200031,29135,6459,122,21,9,"POLYGON ((78.06335 30.28753, 78.06885 30.28753..."
3,1220101003001130,38054,9568,29,11,6,"POLYGON ((14.49097 40.70563, 14.49646 40.70563..."
4,0231131313310233,23269,4392,22,1,1,"POLYGON ((-90.07141 34.99850, -90.06592 34.998..."
...,...,...,...,...,...,...,...
3989247,1231333010033010,10116,2561,84,1,1,"POLYGON ((88.03345 24.40714, 88.03894 24.40714..."
3989248,1322102231211122,16061,27563,30,1,1,"POLYGON ((102.45850 17.12504, 102.46399 17.125..."
3989249,1202033131301220,10997,2071,20,1,1,"POLYGON ((11.11816 50.15579, 11.12366 50.15579..."
3989250,1202122201131313,5934,5023,32,1,1,"POLYGON ((11.94763 49.76353, 11.95312 49.76353..."
3989251,0231022020130010,15805,112,36,1,1,"POLYGON ((-112.22534 33.65121, -112.21985 33.6..."

In [12]:
shp_file = gpd.read_file("/Users/ishaarora/Desktop/2022-04-01_performance_mobile_tiles/gps_mobile_tiles.shp")
shp_file

,quadkey,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,devices,geometry
0,0322321121212131,26208,16375,29,191,99,"POLYGON ((-74.05334 4.68593, -74.04785 4.68593..."
1,0231131002110331,118681,21498,55,7,1,"POLYGON ((-92.51038 36.28856, -92.50488 36.288..."
2,1231211312200031,29135,6459,122,21,9,"POLYGON ((78.06335 30.28753, 78.06885 30.28753..."
3,1220101003001130,38054,9568,29,11,6,"POLYGON ((14.49097 40.70563, 14.49646 40.70563..."
4,0231131313310233,23269,4392,22,1,1,"POLYGON ((-90.07141 34.99850, -90.06592 34.998..."
...,...,...,...,...,...,...,...
3989247,1231333010033010,10116,2561,84,1,1,"POLYGON ((88.03345 24.40714, 88.03894 24.40714..."
3989248,1322102231211122,16061,27563,30,1,1,"POLYGON ((102.45850 17.12504, 102.46399 17.125..."
3989249,1202033131301220,10997,2071,20,1,1,"POLYGON ((11.11816 50.15579, 11.12366 50.15579..."
3989250,1202122201131313,5934,5023,32,1,1,"POLYGON ((11.94763 49.76353, 11.95312 49.76353..."
3989251,0231022020130010,15805,112,36,1,1,"POLYGON ((-112.22534 33.65121, -112.21985 33.6..."